PORT=8080
FIRESTORE_PROJECT_ID=""
WHATSAPP_API_TOKEN="EAAdXIfw7NUABRtKTSOO1QYEQpb9Eft64jXiREtq8tbvZC1bvqXicV2UinZCvsj8ZAGoq5QBDSmjZAPaxKLTKrCv08ugQVI6xAD8IFeiZCTZBuF1FjnmP7GEZCfOvIMJzKYohmK6MdxzRwLxzOyenkzmrtAAYCLRgFVo0UMHLdtG0mH8ZCbBvzaBgXFxYeHgbciOKbRxzVm6bZAp6OpN4kQiHiLNDP1zBkKthDrUC7IbYCGBFR34cAwHik9ELix9vjRksFBBC1179gzK6u3MVUjZBYTi2E4"
WHATSAPP_API_VERSION="v18.0"
WHATSAPP_PHONE_NUMBER_ID="1222779397574235"
RAZORPAY_WEBHOOK_SECRET=""
